<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gritbus.hipchon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HipChonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HipChon">
        <activity
            android:name=".ui.feed.view.FeedCreateActivity"
            android:exported="true" />
        <activity
            android:name=".ui.feed.view.FeedDetailActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.place.view.PlaceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.place.view.PlaceResultActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
